<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="/#product" aria-label="CordisX home" data-i18n-aria-label="homeLabel">
      <img
        src="https://raw.githubusercontent.com/cordisx/cordisx/09c6284b7e3c3616cb1bdb10a631423c8b1c12b1/packages/cli/assets/brand/cordisx-mark-dark.svg"
        alt=""
      />
      <span>CordisX</span>
    </a>

    <nav aria-label="Main navigation">
      <a href="/#product"{{productCurrent}} data-i18n="product">Product</a>
      <a href="/docs/" data-i18n="docs">Docs</a>
      <a href="/marketplace/"{{marketplaceCurrent}} data-i18n="marketplace">Marketplace</a>
      <a class="github-link" href="{{githubHref}}">
        GitHub
        <span class="reicon-slot nav-icon" data-reicon="ArrowUpRight" data-reicon-size="13" aria-hidden="true"></span>
      </a>
    </nav>
  </div>
</header>
